.jumbotron {
  font-size: 100px;
  font-style: italic;
  color: black;
  background-image: url(../img/hand.jpg);
}

h1 {
  text-align: center;
  color: purple;
}

#welcome {
  width: auto;
  /*height: 250px;*/
  text-shadow: 50px;
}

#displaydice {
  font-size: 10em;
  padding: 0;
  margin: 0;
  height: 120px;
}

#main {
  text-align: center;
}

body {
  background-image: url(../img/dice.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: blue;
}
